<div class="management">
    <div class="management__wrap">
        <form action="#" id="management-form" class="management-form" method="PUT">
            <div id="save-progress" class="management-form__save-progress"></div>
            <div class="management-form__form-group">
                <div class="management-form__users">
                    <select name="selected-user" id="selected-user" class="users">
                        {{#each users}}
                            <option value="{{this.email}}" class="users__user">{{this.email}}</option>
                        {{/each}}
                    </select>
                    <div class="management-form__form-group">
                        <div class="management-form__submit">
                            <input id="add-test-btn" type="button" value="Добавить тест">
                            <input id="save-btn" type="submit" value="Сохранить">
                        </div>
                    </div>
                </div>

                <div id="tests" class="management-form__tests">
                    {{#each tests}}
                        <div class="management-form__test">
                            <input id="{{this._id}}" type="checkbox" name="{{this._id}}">
                            <label for="{{this._id}}">{{this.name}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>
        </form>
    </div>
</div>